 



html{ font-family: arial;
background: url('../fundos/stars.jpg');
font-size:15px;
background-repeat: round;
} 

	header{font-family: arimo;
			  
			  padding: 50px;
			  text-align: center;
			  font-size: 15px;
			}
	
	h1 {color: #006742;
	font-size: 50px;
	align-items: center;
	
	}



	h4 {font-size: 30px;
	color: #46EA9B;}
		p {font-size: 30px;
		color: #00A656;
		font-weight: 100;
	}
	h2 {font-size: 20px;
		color: #00fab3;
		;}
h3{font-size: 20px;
color: #00fab3;}

		a {text-decoration: none;
		color: #00fab3;
		margin-right:90% ;
		font-size: 20px;
		font-family: Helvetica;
		font-weight: bold;
	}
a:hover {color: #1F6639;}

		table {background-color: rgba(255, 255, 255, 0.781);
			margin-left: 18%; 
		border: 0.25rem solid #1F663A;
  		border-collapse: collapse;
		font-size: 1.5rem;}
			
			th  {  border: 1px solid green;
  			border-collapse: collapse;}
			td {  border: 1px solid green;
  			border-collapse: collapse;}
  			tfoot {
  				color: darkred ;
  				font-weight: bold;}
h5 {font-size: 2rem;
color: #00fab3;
}
  				footer p {margin-top: 20%;
  					color: #0bff20;
					  font-weight: bold;
					  font-size: 1.5rem;
  			}


			  @media (max-width: 770px)
			  {
table {width: 100%;
font-size: 1rem;
margin-left: 5%;
margin-right: 5%;}
a {color: aliceblue;}

			  }

			  @media (max-width: 425px)
			  {
				table {width: 100%;
					overflow: scroll;
					font-size: 0.75rem;
					margin-left: 1%;
				}
				html{ background-repeat:unset ;}

				
h5 {font-size: 1.5rem;
color: #00fab3;}
iframe {width: 100%}
			  }