



html {font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tiro Devanagari Marathi', serif;
    font-family: 'Tiro Telugu', serif;
font-size: 62,5%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}


header {background-color: rgba(251, 152, 141, 0.567);
margin-inline:auto;

font-size: 0.8rem;
    position: fixed;
    top:0;
    height: var(--header-height);
    width: 100vw;
    z-index: 100;
}


header .cabecalho{
    height: var(--header-height);
    width: 100%;
    visibility: visible;

}
li{padding-top: 5%;}


.nav-item{
    
    text-align: right;
    text-decoration: none;
    padding-inline-end: 20px;
    
    color: #000000;
}
header .menucabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-left: 20%;
margin-top: -2%;
display: inline;

}


a { text-decoration: none;
border: 2px;
color: black; 
    width: auto;
font-size: 1.2rem;

text-decoration: none;
} 

h1 {font-size: 2.5rem;
    padding-top: 5%;
    
margin-left: 40%;
color: #F291AA;}


h3 {margin-left: 2%;
font-size: 1.6rem;
color: #EB8681;}

.nous {background-image: linear-gradient(to top, white, #feb0ab);
background-repeat: round;
}

.nou {text-align: center;
margin-left: 10%;
font-size: 1.2rem;
font-style:oblique;
margin-right: 10%;
}
 
h4 {font-size: 1.6rem;
margin-left: 5%;}

dt, dd {text-align: center;
    margin-left: 10%;
    font-size: 1.2rem;
    margin-right: 10%;
    

}
.result   {background-image: linear-gradient(to bottom, white, #feb0ab);
   
    margin-top: -2%;
    background-repeat: round;
    width: 100%;
    

}
.fotonou , .btn{ width: 20%;

margin-left: 40%;
border-radius: 50%;
}
.btn{color: #EB8681;}

.tituloh4 {color:black;
    margin-left: 5%;
    font-size: 1.5rem;
    padding: 5%;

}
.img1{ width: 20%;}



    .resultados { box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        text-align: left;
        padding: 2.4rem;
        width: 32.7rem;
        margin-right: -11.6rem;
        border: 1px solid var(--bg-color);
        border-radius: 4.6rem;
        background: rgba(251, 152, 141, 0.767);
    width: 20%;
margin-left: 5%;}

.resultados2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: left;
    padding: 2.4rem;
    width: 32.7rem;
    margin-right: -11.6rem;
    border: 1px solid var(--bg-color);
    border-radius: 4.6rem;
    background: rgba(251, 152, 141, 0.767);
width: 20%;
margin-left: 40%;
margin-top: -45.8%;
}

.resultados3 { box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: left;
    padding: 2.4rem;
    width: 32.7rem;
    margin-right: -11.6rem;
    border: 1px solid var(--bg-color);
    border-radius: 4.6rem;
    background: rgba(251, 152, 141, 0.767);
width: 20%;
margin-left: 75%;
margin-top: -40.5%;
}

.proced { background-image: linear-gradient(to top, white, #feb0ab);
margin-top: -.8%;

}
.card {width: 25%;}

.titulo6 {font-size: 1.5rem;
margin-left: 5%;
color:#000000;
padding-top: 5%;

}

.procedi { 
text-align: center;
margin-left:10% ;
font-size: 1.3rem;
padding-top: 5%;
}

.procedimento1 { box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: left;
    padding: 2.4rem;
    width: 32.7rem;
    margin-right: -11.6rem;
    border: 1px solid var(--bg-color);
    border-radius: 4.6rem;
    background: rgba(251, 152, 141, 0.767);
width: 20%;
margin-left: 5%;
margin-top: 10%;}


.procedimento2 { box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: left;
    padding: 2.4rem;
    width: 32.7rem;
    margin-right: -11.6rem;
    border: 1px solid var(--bg-color);
    border-radius: 4.6rem;
    background: rgba(251, 152, 141, 0.767);
width: 20%;
margin-left: 39%;
margin-top: -72.5%;}


.procedimento3 { box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: left;
    padding: 2.4rem;
    width: 32.7rem;
    margin-right: -11.6rem;
    border: 1px solid var(--bg-color);
    border-radius: 4.6rem;
    background: rgba(251, 152, 141, 0.767);
width: 20%;
margin-left: 70%;
margin-top: -73%;}

.localiza { background-image: linear-gradient(to bottom, white, #feb0ab);
}



h2 {font-size: 1.6rem;
    margin-left: 5%;}

p {text-align: center;
    margin-left: 10%;
    font-size: 1.2rem;
   
    margin-right: 10%;}

    .tituloloc {margin-left: 35%;
    padding-top: 10%;}


iframe { margin-left: 25%;
padding: 10%;
width: 60%;
height: 40%;
}

.me {background-image: linear-gradient(to top, white, #feb0ab);}

.imga {border-radius: 60%;
padding-top: 5%;
margin-left: 40%;
}

.rodape {padding-top: 7%;}

.cog-branding--minimal {
    visibility: hidden !important;
}

.row3 { margin-left: 65%;
width: 100%;
margin-top: -19%;
padding-bottom: 20%;

}

h5 { text-align:center;

}

.row1 {
    margin-left: 5%;
    padding-top: 10%;

}

.row2 {
margin-left: 35%;
margin-top: -20.5%;
width: 100%;

}