html {font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tiro Devanagari Marathi', serif;
font-size: 62,5% ;
background-color: blue;
}

body {background-color: brown;}


p {font-size: 30px;}


